@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-line div:last-child::after {
    content: '';
    display: block;
    width: 2px;  /* Thickness of the line */
    height: 100px;  /* Length of the line */
    background-color: white;  /* Color of the line */
    margin: 0 auto;
    margin-top: 10px;  /* Space between the icon and the line */
  }
  